:root {
    --dark-fond: #000F2a;
    --fond: #002040;
    --light-fond: #002050;
    --lightest-fond: #112360;
    --couleur-special: #77FFEE;
    --light-couleur: #CCDDFF;
    --couleur: #8899bb;
    --font-mono: monospace;
    --transition: all 0.30s cubic-bezier(0.700, 0.050, 0.460, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(119, 255, 255, 0.6) 0%, rgba(119, 255, 255, .5) 25%, rgba(119, 255, 255, 1) 53%, rgba(119, 255, 255, .5) 75%, rgba(119, 255, 255, 0.6) 100%);
    border-radius: 20px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: rgba(119, 255, 255, 0.8);
}


body {
    background-color: var(--fond);
    color: #CCDDFF;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    transition: var(--transition);
    background-color: rgba(0, 32, 64, 0.90);
    backdrop-filter: blur(10px);
    z-index: 11;
}

.header__logo {
    margin: 25px;
}

.header__menu--icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin: 25px;
    z-index: 100;
}

.header__nav {
    display: none;
}

main {
    margin-top: 100px;
    padding: 20px;
    font-family: var(--font-mono);
}

.main__hero .main__hero--title {
    color: var(--couleur-special);
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2rem;
    padding-bottom: 20px;
}

.main__hero--presentation {
    color: var(--light-couleur);
    font-size: clamp(3.3rem, 8vw, 4rem);
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 20px;
}

.main__hero--presentation-do {
    color: var(--couleur);
}

.main__hero--info {
    color: var(--couleur);
    font-size: 1.6rem;
    max-width: 490px;
    margin-bottom: 20px;
}

.main__hero--info-career {
    color: var(--couleur-special);
}

.main__hero--buttons {
    display: flex;
    flex-wrap: wrap;
}

.button {
    border: 1px solid var(--couleur-special);
    color: #77FFEE;
    text-decoration: none;
    font-size: 1.6rem;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    margin-right: 20px;
    transition: var(--transition);
}

.main__button--cv {
    margin-right: 0;
}

.button:hover {
    background-color: var(--couleur-special);
    color: #000F20;
    font-weight: bold;
}

.main__about {
    margin-top: 100px;
    width: 100%;
}

.main__about--title,
.main__proyectos--title,
.main__projects--title,
.main__contact--title {
    margin: 50px 0px 20px 0px;
    font-size: 2rem;
}

.main__about--title::after,
.main__proyectos--title::after,
.main__projects--title::after,
.main__contact--title::after {
    content: "";
    display: block;
    position: relative;
    top: -11px;
    left: 100px;
    width: 60%;
    height: .5px;
    margin-left: 20px;
    background-color: var(--couleur);
}

.main__about--title~p {
    margin-bottom: 20px;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: normal;
    color: var(--couleur);
}

.main__about--studies {
    color: var(--couleur-special);
    text-decoration: none;
}

.main__about .main__about--info-motto {
    background-color: #ffffff22;
    color: var(--light-couleur);
    border-radius: 10px;
    padding: 20px;
    max-width: 350px;
}

.main__about--info {
    max-width: 600px;
}

.main__about--info-motto::before {
    content: "";
    border: 1px solid var(--couleur-special);
    margin-right: 10px;
    border-radius: 5px;
}

.main__about--skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    margin: 20px 0;
    list-style: none;
}

.main__about--skills li {
    color: var(--couleur);
    font-size: 1.4rem;
    line-height: 1.5rem;
}

.main__about--skills li::before {
    content: "▹";
    color: var(--couleur-special);
    font-size: 1.5rem;
    margin: 0 5px;
}

.main__about--img {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    max-width: 300px;
    max-width: 300px;
    padding-bottom: 100px;
    background: url('../assets/img/foto.png') center/cover no-repeat;
}

.main__projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 150px;
}

.main__projects--title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.main__projects--project {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    text-overflow: wrap;
    opacity: 0.6;
    margin-bottom: 40px;
    text-align: center;
    background-color: var(--dark-fond);
    border-radius: 10px;
    transition: var(--transition);
}

.main__projects--project:hover {
    opacity: 1;
}

.main__project--title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.main__project--description {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.main__container--buttons {
    display: flex;
    justify-content: center;
}

.project-button {
    border: 1px solid var(--couleur-special);
    color: #77FFEE;
    text-decoration: none;
    font-size: 1.6rem;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: 300;
    margin-right: 20px;
    transition: var(--transition);
}

.project-button:hover {
    background-color: var(--couleur-special);
    color: #000F20;
    font-weight: bold;
}

.main__projects--img {
    width: 100%;
}

.main__projects--img img {
    width: 100%;
    margin-bottom: 20px;
}

.main__contact--info {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: var(--couleur);
}

.main__social-networks {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.main__social-networks a {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: var(--couleur);
    text-decoration: none;
    padding: 10px 20px;
    transition: var(--transition);
}

@media screen and (min-width: 500px) {
    .main__social--networks-sec {
        display: flex;
        flex-direction: row;
    }

    .main__about--skills li {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
}

/* @media screen and (max-width: 777px) {
    .aside {
        display: flex;
        position: fixed;
        height: 100vh;
        width: 80%;
        top: 0;
        right: 0;
        background-color: red;
        transition: none;
    }
} */

.main__contact--mail {
    text-decoration: none;
    color: var(--light-couleur);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.main__contact--mail:hover {
    color: var(--couleur-special);
}

.main__social-networks a:hover {
    color: var(--couleur-special);
    stroke: var(--couleur-special);
    display: flex;
    position: relative;
    padding: 0px 20px 20px 20px;
}

.logo {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    transition: var(--transition);
}

.logo-platzi {
    background: url('../assets/svg/platzi.svg') center/cover no-repeat;
}

.logo-platzi:hover,
.main__social-networks a:hover .logo-platzi {
    background: url('../assets/svg/platzi-hover.svg') center/cover no-repeat;
}

.logo-instagram {
    background: url('../assets/svg/Instagram.svg') center/cover no-repeat;

}

.logo-linkedin {
    background: url('../assets/svg/Linkedin.svg') center/cover no-repeat;
}

.logo-linkedin:hover,
.main__social-networks a:hover .logo-linkedin {
    background: url('../assets/svg/Linkedin-hover.svg') center/cover no-repeat;
}

.logo-instagram:hover,
.main__social-networks a:hover .logo-instagram {
    background: url('../assets/svg/Instagram-hover.svg') center/cover no-repeat;
}

.logo-github {
    background: url('../assets/svg/Github.svg') center/cover no-repeat;
}

.logo-github:hover,
.main__social-networks a:hover .logo-github {
    background: url('../assets/svg/Github-hover.svg') center/cover no-repeat;
}

.footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.footer--info {
    color: var(--couleur);
    font-size: 1.4rem;
}