@media screen and (min-width: 500px) {
    .main__social--networks-sec {
        display: flex;
        flex-direction: row;
    }

    .main__about--skills li {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
}

.header__menu--icon {
    display: flex;
    position: absolute;
    background-image: url('../assets/svg/menu.svg');
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    right: 0px;
    margin: 35px;
    transition: all .4s cubic-bezier(0, .5, 1, 1);
    width: 45px;
    height: 35px;
}

.header__menu--close-icon {
    background-image: url('../assets/svg/close.svg');
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(360deg);
    visibility: visible;
}

.header__nav {
    display: none;
}

.aside {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 70vw;
    top: 0;
    right: -100%;
    background: rgb(13, 20, 38);
    background: linear-gradient(90deg, rgba(13, 20, 38, 1) 0%, rgba(13, 20, 54, 1) 100%);
    transition: var(--transition);
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.80);
}

.aside aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
    color: var(--couleur);
    text-align: center;
    align-self: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aside aside ul {
    list-style: none;
    width: 100%;
}

.aside aside ul li {
    border-bottom: 1px solid var(--couleur);
}

.aside aside ul li:hover {
    background: rgba(13, 100, 255, 0.1);
}

.aside aside ul li:hover a {
    color: var(--couleur-special);
}

.aside aside ul li a {
    display: inline-block;
    padding: 20px 0;
    color: var(--couleur);
    text-decoration: none;
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
}

.active {
    right: 0;
}

.main__hero {
    margin-bottom: 0px;
}

.main__about--skills {
    display: flex;
    margin: 20px 0;
    list-style: none;
    flex-direction: column;
}

.main__about--img {
    min-width: 200px;
    min-height: 200px;
    width: 250px;
    display: flex;
    justify-content: center;
}

.main__about--img img {
    width: 250px;
}

.footer {
    top: 0;
}

.main__hero--animated-name {
    height: 5.2rem;
}

.main__hero--animated-name>div span {
    font-size: 5rem;
    line-height: 50px;
}

.main__hero--animated-name .segunda-linea {
    top: 50px;
}

.main__hero--animated-name>div.animacion {
    transform: translateY(-52px);
}

.main__projects--page-about {
    margin-left: 0px;
}

@media screen and (max-width: 440px) {
    .main__hero--animated-name>div span {
        font-size: 3.3rem;
        line-height: 50px;
    }

    .main__hero--animated-name .segunda-linea {
        top: 50px;
    }

    .main__hero--animated-name>div.animacion {
        transform: translateY(-52px);
    }
}

@supports (pointer-events: none) {
    .index {
        z-index: 20;
        pointer-events: none;
    }
}