@media screen and (min-width: 500px) {
    .main__social--networks-sec {
        display: flex;
        flex-direction: row;
    }

    .main__about--skills li {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
}

@media screen and (max-width: 370px) {
    #aside {
        height: 120vh;
        top: -10vh;
    }
}

.header__menu--icon {
    display: flex;
    position: absolute;
    background: url('../assets/svg/menu.svg')center/cover no-repeat;
    top: 0;
    right: 0px;
    margin: 35px;
    transition: all .5s cubic-bezier(0.700, 0.050, 0.460, 1);
    width: 35px;
    height: 35px;
}

.header__menu--close-icon {
    background: url('../assets/svg/close.svg')center/cover no-repeat;
    transform: rotate(360deg);
    visibility: visible;
}

.header__nav {
    display: none;
}

.aside {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 70vw;
    top: 0;
    right: -100%;
    background: rgb(13, 20, 38);
    background: linear-gradient(90deg, rgba(13, 20, 38, 1) 0%, rgba(13, 20, 54, 1) 100%);
    transition: var(--transition);
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.80);
}

.aside aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
    color: var(--couleur);
    text-align: center;
    align-self: center;
}

.aside aside ul {
    list-style: none;
    width: 100%;
}

.aside aside ul li {
    border-bottom: 1px solid var(--couleur);
}

.aside aside ul li:hover {
    background: rgba(13, 100, 255, 0.1);
}

.aside aside ul li:hover a {
    color: var(--couleur-special);
}

.aside aside ul li a {
    display: inline-block;
    margin: 20px 0;
    color: var(--couleur);
    text-decoration: none;
    font-size: 2.5rem;
}

.active {
    right: 0;
}

.main__about--skills {
    display: flex;
    margin: 20px 0;
    list-style: none;
    flex-direction: column;
}